body {
    background-color: RGB(30,77,43);
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#topbar {
    top: 0;
    position: fixed;
    background-color: RGB(30,77,43);
    z-index: 97;
    height: 40px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mapFrame {
    position:absolute;
    overflow: hidden;
    border: none;
    height: 100%;
}

.portrait {
    left:-43.5%;
    width: 143.5%;
}

.landscape {
    left:-24.5%;
    width: 124.5%;
}

#bottombar {
    bottom: 0;
    position: fixed;
    background-color: RGB(30,77,43);
    z-index: 98;
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#navbuttons {
    width: 900px;
    display: flex;
    gap: 40px;
    justify-content: center;
}

#roomCat, #roomID {
    font-size: 24px;
}

#roomCat {
    width: 250px;
}

#roomID {
    width: 350px;
}

h2 {
    font-size: 30px;
    color: white;
    text-align:center;
    font-family: 'factoria-book', sans-serif;
    margin: 0;
    background-color: RGB(30,77,43);
}

p {
    font-size: 24px;
    color: white;
    margin: 5px;
    font-family: 'prox-regular', sans-serif;
}

#adaCheck {
    width: 40px;
    height: 40px;
}

#adaIcon {
    width: 45px;
    height: 45px;
}

#adaBox {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

:root {
    touch-action: pan-x pan-y;
    height: 100% 
}

#touchContainer {
    background-color: rgba(128,128,128, 0.3);
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

#touchNotice {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'factoria-book', sans-serif;
    background-color: rgba(78, 78, 78, 0.9);;
    height: 300px;
    width: 450px;
    border-radius: 30px;
}

#touchNotice>img {
    height: 180px;
    width: 180px;
    filter: brightness(0) invert(1);
    animation: moveUpDown 2s ease-in-out infinite;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
