body {
    background-color: RGB(30,77,43);
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#topbar {
    top: 0;
    position: fixed;
    background-color: RGB(30,77,43);
    z-index: 98;
    height: 40px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mapFrame {
    position:absolute; left:-24.5%;
    height: 100%;
    width: 124.5%;
    overflow: hidden;
    border: none;
}

#bottombar {
    bottom: 0;
    position: fixed;
    background-color: RGB(30,77,43);
    z-index: 99;
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#navbuttons {
    width: 800px;
    display: flex;
    gap: 40px;
    justify-content: center;
}

#roomCat, #roomID {
    font-size: 18px;
}

#roomCat {
    width: 190px;
}

#roomID {
    width: 310px;
}

h2 {
    font-size: 10;
    color: white;
    text-align:center;
    font-family: 'factoria-book', sans-serif;
    margin: 0;
    background-color: RGB(30,77,43);
}

p {
    font-size: 22px;
    color: white;
    margin: 5px;
    font-family: 'prox-regular', sans-serif;
}

#adaCheck {
    width: 30px;
    height: 30px;
}

#adaIcon {
    width: 35px;
    height: 35px;
}

#adaBox {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

:root {
    touch-action: pan-x pan-y;
    height: 100% 
}